.container {
  border: 1px solid black;
  width: 90vw;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .inner-container {
    position: relative;

    .row {
      display: grid;
      grid-template-columns: repeat(3, 1fr) 2fr repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      width: 100%;
      position: absolute;
      top: 115px;
      width: 100%;
    }

    .last-row {
      display: grid;
      grid-template-columns: 2fr 1fr 2fr repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}
